﻿
@{
    ViewData["Title"] = "HoldingDetails";
    Layout = "_Layout";
}

@model YodleePOCApp.Responses.GetHoldingsInfoResult

<h1>Holding Details for account @Model.AccountName</h1>

<div overflow-x: auto;">
    <table id="accountTable" class="table">
        <thead>
            <tr>
                <th>HoldingType</th>
                <th>CreatedDate</th>
                <th>LastUpdated</th>
                <th>CostBasisAmount</th>
                <th>CostBasisCurrency</th>
                <th>Description</th>
                <th>OptionType</th>
                <th>PriceAmount</th>
                <th>PriceCurrency</th>
                <th>Quantity</th>
                <th>Symbol</th>
                <th>ValueAmount</th>
                <th>ValueCurrency</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holding in Model.Holdings)
            {
                <tr id="@holding.Id">
                    <td class="owerflow-item">
                        @holding.HoldingType
                    </td>
                    <td>@holding.CreatedDate</td>
                    <td>@holding.LastUpdated</td>
                    <td>@($"{holding.CostBasisAmount:C}")</td>
                    <td>@holding.CostBasisCurrency</td>
                    <td>@holding.Description</td>
                    <td>@holding.OptionType</td>
                    <td>@($"{holding.PriceAmount:C}")</td>
                    <td>@holding.PriceCurrency</td>
                    <td>@holding.Quantity</td>
                    <td>@holding.Symbol</td>
                    <td>@($"{holding.ValueAmount:C}")</td>
                    <td>@holding.ValueCurrency</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade bd-example-modal-sm" id="editNickNameModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update account info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nickname: </label>&nbsp;<label id="label_nickname"></label>
                        <input id="input_nickname" value="" custom-data="" type="text" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Close</button>
                <button type="button" id="saveModal" class="btn btn-outline-success btn-sm">Save</button>
            </div>
        </div>
    </div>
</div>

