﻿@model List<YodleeDomain.Entities.User>
@{

    Layout = "_Layout";
}
<div class="center-blc">

    <div class="col-md-8 justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => user.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>

                        <td>
                            @Html.ActionLink("Go", "UserInstitutions", "Institution", new { loginName = user.NickName, userId = user.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-info" id="createUserBtn">Create User</button>
    </div>
    <div class="modal" id="createUserModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="newUserForm">
                    <div class="modal-body">
                        <div class="input-item">
                            <label for="userName" class="">User Name</label>
                            <input class="form-control" id="userName" type="text" placeholder="User Name" required>
                        </div>
                        <div class="input-item">
                            <label for="userId" class="">User ID</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#64;</span>
                                </div>
                                <input class="form-control" id="userId" type="text" placeholder="User ID" required>
                            </div>
                        </div>
                        <div class="input-item">
                            <label for="email" class="">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img height="200px" width="200px" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small class="text-muted">11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

@section Scripts {
<script>
    (function(window) {
        var createUserBtn = document.getElementById('createUserBtn');
        var newUserForm = document.getElementById('newUserForm');

        createUserBtn.addEventListener('click', () => {
            $('#createUserModal').modal();
             
        });

        newUserForm.addEventListener('submit', function (event) {
            var nickName = document.getElementById('userId').value;
            var email = document.getElementById('email').value;
            var name = document.getElementById('userName').value;
            var newUser = {
                nickName: nickName,
                email: email,
                name: name,
            };
            requestService.post('/user/SaveUser', newUser, function (response) {

                if (response.isSuccess) {
                    toastr.success('New user has been created!');
                    $('#createUserModal').modal('hide');

                    window.location.reload();
                } else {
                    toastr.error('Failed to save new user into database.');
                }
            });
            event.preventDefault();
            event.stopPropagation();
        });
    }(window));
</script>
}