﻿@{
    ViewData["Title"] = "Auth";
    Layout = "_Layout";
}

@model YodleePOCApp.Responses.GetInstitutionInfoResult

<h3>Accounts</h3>
<div overflow-x: auto;">
    <table id="accountTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Display Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Balance</th>
                <th>Currency</th>
                <th>Number</th>
                <th>Last Updated</th>
                <th>Last Update Attempt</th>
                <th>Next Update Scheduled</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Accounts)
            {
                <tr id="@account.Id">
                    <td class="owerflow-item">
                        @account.AccountName
                        <i class="fa fa-edit" value='{"id":"@account.Id","name":"@account.AccountName","originName":"@account.DisplayedName"}'></i>
                    </td>
                    <td>@account.DisplayedName</td>
                    <td>@account.AccountType</td>
                    <td>@account.AccountStatus</td>
                    <td>@($"{account.Amount:C}")</td>
                    <td>@account.Currency</td>
                    <td>@account.AccountNumber</td>
                    <td>@($"{account.LastUpdated:MM/dd/yyyy}")</td>
                    <td>@(account.LastUpdateAttempt.HasValue ? $"{account.LastUpdateAttempt.Value:MM/dd/yyyy}" : null)</td>
                    <td>@(account.NextUpdateScheduled.HasValue ? ($"{account.NextUpdateScheduled.Value:MM/dd/yyyy}") : null)</td>
                    @if (account.AccountType == "OTHER")
                    {
                        <td>@Html.ActionLink("View Holdings", "HoldingDetails", "Holding", new { accountId = account.Id, accountName = account.DisplayedName })</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td id="exclude-account-btn" style="cursor: pointer;color: red;" onclick="excludeAccount(event, @account.Id, @account.OutsideAssetConnectionId)">Delete</td>
                </tr>
            }
        </tbody>
    </table>
</div>