﻿@{

    ViewData["Title"] = "Institutions";
    Layout = "_Layout";
}
@model YodleePOCApp.Responses.GetInstitutionResult
<div class="row " style="margin: 15px;">
    <div class="col-md-12">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                <table id="institutionTable" class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Institution Name</th>
                            <th>Last Updated Date</th>
                            <th>Last Updated Attempt Date</th>
                            <th>Next Update Scheduled Date</th>
                            <th>Count of Accounts</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var inst in Model.Institutions)
                        {
                            <tr>
                                <td class="owerflow-item">@inst.Id</td>
                                <td class="owerflow-item">@inst.ProviderName</td>
                                <td class="owerflow-item">@inst.LastUpdated?.ToShortDateString()</td>
                                <td class="owerflow-item">@inst.LastUpdatedAttempt?.ToShortDateString()</td>
                                <td class="owerflow-item">@inst.NextUpdateScheduled?.ToShortDateString()</td>
                                <td class="owerflow-item">@inst.Accounts.Count</td>
                                <td class="owerflow-item">@inst.Status</td>
                                <th>
                                    @Html.ActionLink("View Accounts", "InstitutionDetails", "Institution", new { connectionId = inst.Id })
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="form-group col-4 text-right">
                <button class="btn btn-primary" id="btn-fastlink">Link Account</button>
            </div>
        </div>

        <div class="modal" id="assetsModal" role="dialog" aria-hidden="true" tabindex="-1">
            <div>
                <div id="container-fastlink">
            </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src='https://cdn.yodlee.com/fastlink/v4/initialize.js'></script>
    <script>
        (function(window) {
            //Open FastLink
            selectedLoginName = @Html.Raw(Json.Serialize(@Model.UserNickName));
            selectedUserId = @Html.Raw(Json.Serialize(@Model.UserId));
            
            // save data to lcoalstorage
            localStorage.setItem("selectedLoginName", selectedLoginName);
            localStorage.setItem("selectedUserId", selectedUserId);

            var fastlinkBtn = document.getElementById('btn-fastlink');
            fastlinkBtn.addEventListener(
                'click',
                function() {
                    requestService.post(`/admin/GetToken?loginName=${selectedLoginName}`,
                        null,
                        (response) => {
                            let token = response.result.token.accessToken;
                            $('#assetsModal').modal();
                            window.fastlink.open({
                                    fastLinkURL: 'https://fl4.preprod.yodlee.com/authenticate/USDevexPreProd3-185/fastlink?channelAppName=usdevexpreprod3',
                                    accessToken: `Bearer ${token}`,
                                    params: {
                                        configName: 'LaunchTestConfig'
                                    },
                                    onSuccess: function(data) {
                                        // will be called on success. For list of possible message, refer to onSuccess(data) Method.
                                        console.log(`On Success data:`);
                                        console.log(data);
                                    },
                                    onError: function(data) {

                                        // will be called on error. For list of possible message, refer to onError(data) Method.
                                        console.log(data);
                                    },
                                    onClose: function(data) {
                                        $('#assetsModal').modal('hide');

                                        if (data) {
                                            if (data.action === "exit" && data.fnToCall === "accountStatus" && data.sites.length > 0) {
                                                let eventData = data.sites[0];
                                                eventData.accessToken = token;
                                                eventData.userId = selectedUserId;

                                                requestService.post('add',
                                                    eventData,
                                                    (saveResponse) => {
                                                        if (saveResponse.isSuccess) {
                                                            window.location.href = window.location.origin + "/Institution/InstitutionDetails?connectionId=" + saveResponse.result.id; // navigate to connection details page
                                                        }
                                                    });
                                            }
                                        }
                                        // will be called called to close FastLink. For list of possible message, refer to onClose(data) Method.
                                        console.log(data);
                                    },
                                    onEvent: function(data) {
                                        // will be called on intermittent status update.
                                        console.log("Event received:");
                                        console.log(data);
                                    }
                                },
                                'container-fastlink');
                        },
                        false);
                });
        }(window));
    </script>
}