﻿@*@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div id="container-fastlink">
    <div style="text-align: center;">
        <input type="submit" id="btn-fastlink" value="Link an Account">
    </div>
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src='https://cdn.yodlee.com/fastlink/v4/initialize.js'></script>
    <script>
        (function (window) {
            console.log($('#myModal'));
            $('#myModal').modal();
            //Open FastLink
            var fastlinkBtn = document.getElementById('btn-fastlink');
            fastlinkBtn.addEventListener(
                'click', 
                function() {
                    window.fastlink.open({
                            fastLinkURL: 'https://fl4.sandbox.yodlee.com/authenticate/restserver/fastlink',
                            accessToken: 'Bearer QjMlz3XmdPRiHkGJ5AKaZ0Zlo8AD',
                            params: {
                                configName : 'LaunchTestConfig'
                            },
                            onSuccess: function (data) {
                                // will be called on success. For list of possible message, refer to onSuccess(data) Method.
                                console.log(data);
                            },
                            onError: function (data) {
                                // will be called on error. For list of possible message, refer to onError(data) Method.
                                console.log(data);
                            },
                            onClose: function (data) {
                                // will be called called to close FastLink. For list of possible message, refer to onClose(data) Method.
                                console.log(data);
                            },
                            onEvent: function (data) {
                                // will be called on intermittent status update.
                                console.log(data);
                            }
                        },
                        'container-fastlink');
                },
                false);
        }(window));
    </script>

}*@