html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center-blc {
    display: flex;
    justify-content: center;
}

.yodlee-wraper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow: auto;
}

.input-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/*#fastlink-container {
    max-width: 750px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}*/